<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<br><br>
<center>

  <div class="col-sm-10">
    <form name = "form" method="POST" onsubmit="generateProgressBar()">
        <div class="form-group">
          <label for="exampleInputEmail1"><h2>Enter the twitter account you wish to monitor!</h2></label>
                <div class = "col-sm-2"></div>
          		  <input name = "twitter" class="form-control input-lg" id="twitter" placeholder="@">
                <div class = "col-sm-2"></div>

        <br><br>

        <input type="submit" class="btn btn-primary btn-lg btn-block" id="submitbutton"></input>
    </form>
  </div>
<center>

<style type="text/css">
body{

  background-color: #282828;
  color: #FF1493 ;
}
#submitbutton{
    background-color: #FF1493;

}

</style>
<div id = "demo"></div>

<script type="text/javascript">
	function generateProgressBar(){

           a='<div class="progress" style="width:80%;"><div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div></div>';
           document.getElementById("demo").innerHTML = a;
          }

</script>

</script>




<br><br><br><br><br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>


&copy SRIVIDHYA RAVICHANDRAN


