<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<br><br>
<center>
  <div class="col-sm-10">
    <form name = "form" method="POST">
        <div class="form-group">
          <label for="exampleInputEmail1">Enter the twitter account you wish to monitor!</label>
          		
            		<input name = "twitter" class="form-control" id="twitter" placeholder="@">
        <input type="submit">GO!</input>
    </form>
  </div>
<center>




